site_name: "XDACO Ultimate Workstation"
site_url: "https://xdaco.github.io/xdaco-ultimate-workstation"
theme:
    name: material
    palette:
        - scheme: default
          primary: teal
          accent: cyan
          toggle:
              icon: material/weather-night
              name: Switch to dark mode
        - scheme: slate
          primary: teal
          accent: cyan
          toggle:
              icon: material/weather-sunny
              name: Switch to light mode
markdown_extensions:
    - admonition
    - codehilite
    - footnotes
    - toc:
          permalink: true
nav:
    - Home: index.md
